body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
